<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Jog Tracker | App to track and analyze daily jogs">
        <title>Jog Tracker | App to track and analyze daily jogs</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic">
        <link rel="stylesheet" type="text/css" href="./static/jogapp/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" />
    </head>
    <body>
        <main id="root-container" class="root-container">
        </main>
        <script type="text/javascript">
            {% if request.user.is_authenticated %}
            var user_id = {{ request.user.id }};
            {% else %}
            var user_id = '';
            {% endif %}
        </script>
        <script type="text/javascript" src="./static/jogapp/jogapp.js"></script>
    </body>
</html>
